<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Grammati</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" th:href="@{/styles.css}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</head>
<body>
<h1>Subscribe for Grammati for early access!</h1>
<!--<img th:src="@{/images/TacoCloud.png}"/>-->
<form method="POST" th:object="${subscription}">
    <div>
        <h3>Put your email for packet of daily excercises:</h3>
        <input type="email" th:field="*{email}"/>
        <br/>
        <button>Subscribe</button>
    </div>
    <!--    <div class="grid">-->
    <!--        <div class="ingredient-group" id="wraps">-->
    <!--            <h3>Designate your wrap:</h3>-->
    <!--            <div th:each="ingredient : ${wrap}">-->
    <!--                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"-->
    <!--                />-->
    <!--                <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="ingredient-group" id="proteins">-->
    <!--            <h3>Pick your protein:</h3>-->
    <!--            <div th:each="ingredient : ${protein}">-->
    <!--                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"-->
    <!--                />-->
    <!--                <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="ingredient-group" id="cheeses">-->
    <!--            <h3>Choose your cheese:</h3>-->
    <!--            <div th:each="ingredient : ${cheese}">-->
    <!--                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"-->
    <!--                />-->
    <!--                <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="ingredient-group" id="veggies">-->
    <!--            <h3>Determine your veggies:</h3>-->
    <!--            <div th:each="ingredient : ${veggies}">-->
    <!--                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"-->
    <!--                />-->
    <!--                <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--        <div class="ingredient-group" id="sauces">-->
    <!--            <h3>Select your sauce:</h3>-->
    <!--            <div th:each="ingredient : ${sauce}">-->
    <!--                <input name="ingredients" type="checkbox" th:value="${ingredient.id}"-->
    <!--                />-->
    <!--                <span th:text="${ingredient.name}">INGREDIENT</span><br/>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </div>-->
    <!--    <div>-->
    <!--        <h3>Name your taco creation:</h3>-->
    <!--        <input type="text" th:field="*{name}"/>-->
    <!--        <br/>-->
    <!--        <button>Submit your taco</button>-->
    <!--    </div>-->
</form>
</body>
</html>